In [5]:
from fastapi import FastAPI
from pydantic import BaseModel
from typing import Optional
import pandas as pd
from pyspark.ml import PipelineModel
from pyspark.sql import SparkSession
from pyspark.ml import PipelineModel
from pyspark.sql.types import *

spark = SparkSession.builder.appName("TitanicClassifierAPI").getOrCreate()

schema = StructType([
    StructField("PassengerId", IntegerType(), True),
    StructField("Pclass", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Sex", StringType(), True),
    StructField("Age", FloatType(), True),
    StructField("SibSp", IntegerType(), True),
    StructField("Parch", IntegerType(), True),
    StructField("Ticket", StringType(), True),
    StructField("Fare", FloatType(), True),
    StructField("Cabin", StringType(), True),
    StructField("Embarked", StringType(), True),
])

# -------------------------------
# Load model at startup
# -------------------------------
MODEL_PATH = "deployment/model/sparkml"  # wherever you saved it
model = PipelineModel.load(MODEL_PATH)
# Define FastAPI app

# -------------------------------
app = FastAPI(title="TitanicClassifier Inference API")

# -------------------------------
# Define input schema
# -------------------------------
# Example: replace feature1, feature2 with your actual features
class PredictionRequest(BaseModel):
    PassengerId: Optional[int] = None
    Pclass: int
    Name: Optional[str] = None
    Sex: str
    Age: Optional[float] = None
    SibSp: Optional[int] = None
    Parch: int
    Ticket: Optional[str] = None
    Fare: Optional[float] = None
    Cabin: Optional[str] = None
    Embarked: Optional[str] = None

# -------------------------------
# /predict endpoint
# -------------------------------
@app.post("/predict")
def predict(request: PredictionRequest):

    input_data = [request.dict()]
    input_df = spark.createDataFrame(input_data, schema=schema)
    preds = model.transform(input_df)
    print(preds)
    result_df = preds.select("prediction", "probability").toPandas()
    # Return predictions as JSON
    return {"predictions": result_df.to_dict('records')}

In [4]:
print(model.stages)

[PipelineModel_3cc8edbcf60a, RandomForestClassificationModel: uid=RandomForestClassifier_f0ca91842f89, numTrees=20, numClasses=2, numFeatures=6]

In [17]:
import requests
import pandas as pd
import numpy as np
from training.spark_session import spark_session_creator
url = "http://localhost:8000/predict"

test_df=pd.read_csv(r"/root/AILabProject/data/test.csv")
test_df = test_df.where(pd.notnull(test_df), None)
test_df.replace([np.inf, -np.inf], None, inplace=True)
test_df = test_df.where(pd.notnull(test_df), None)

predictions = []

for i, row in test_df.iterrows():
    print(i)
    payload = row.to_dict()
    print(payload)
    response = requests.post(url, json=payload)
    print(response)
    predictions.append(response.json()["predictions"][0])

0
{'PassengerId': 892, 'Pclass': 3, 'Name': 'Kelly, Mr. James', 'Sex': 'male', 'Age': 34.5, 'SibSp': 0, 'Parch': 0, 'Ticket': '330911', 'Fare': 7.8292, 'Cabin': None, 'Embarked': 'Q'}
<Response [200]>
1
{'PassengerId': 893, 'Pclass': 3, 'Name': 'Wilkes, Mrs. James (Ellen Needs)', 'Sex': 'female', 'Age': 47.0, 'SibSp': 1, 'Parch': 0, 'Ticket': '363272', 'Fare': 7.0, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
2
{'PassengerId': 894, 'Pclass': 2, 'Name': 'Myles, Mr. Thomas Francis', 'Sex': 'male', 'Age': 62.0, 'SibSp': 0, 'Parch': 0, 'Ticket': '240276', 'Fare': 9.6875, 'Cabin': None, 'Embarked': 'Q'}
<Response [200]>
3
{'PassengerId': 895, 'Pclass': 3, 'Name': 'Wirz, Mr. Albert', 'Sex': 'male', 'Age': 27.0, 'SibSp': 0, 'Parch': 0, 'Ticket': '315154', 'Fare': 8.6625, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
4
{'PassengerId': 896, 'Pclass': 3, 'Name': 'Hirvonen, Mrs. Alexander (Helga E Lindqvist)', 'Sex': 'female', 'Age': 22.0, 'SibSp': 1, 'Parch': 1, 'Ticket': '3101298', 'Fare': 12.2875, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
5
{'PassengerId': 897, 'Pclass': 3, 'Name': 'Svensson, Mr. Johan Cervin', 'Sex': 'male', 'Age': 14.0, 'SibSp': 0, 'Parch': 0, 'Ticket': '7538', 'Fare': 9.225, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
6
{'PassengerId': 898, 'Pclass': 3, 'Name': 'Connolly, Miss. Kate', 'Sex': 'female', 'Age': 30.0, 'SibSp': 0, 'Parch': 0, 'Ticket': '330972', 'Fare': 7.6292, 'Cabin': None, 'Embarked': 'Q'}
<Response [200]>
7
{'PassengerId': 899, 'Pclass': 2, 'Name': 'Caldwell, Mr. Albert Francis', 'Sex': 'male', 'Age': 26.0, 'SibSp': 1, 'Parch': 1, 'Ticket': '248738', 'Fare': 29.0, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
8
{'PassengerId': 900, 'Pclass': 3, 'Name': 'Abrahim, Mrs. Joseph (Sophie Halaut Easu)', 'Sex': 'female', 'Age': 18.0, 'SibSp': 0, 'Parch': 0, 'Ticket': '2657', 'Fare': 7.2292, 'Cabin': None, 'Embarked': 'C'}
<Response [200]>
9
{'PassengerId': 901, 'Pclass': 3, 'Name': 'Davies, Mr. John Samuel', 'Sex': 'male', 'Age': 21.0, 'SibSp': 2, 'Parch': 0, 'Ticket': 'A/4 48871', 'Fare': 24.15, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
10
{'PassengerId': 902, 'Pclass': 3, 'Name': 'Ilieff, Mr. Ylio', 'Sex': 'male', 'Age': nan, 'SibSp': 0, 'Parch': 0, 'Ticket': '349220', 'Fare': 7.8958, 'Cabin': None, 'Embarked': 'S'}

InvalidJSONError: Out of range float values are not JSON compliant

In [18]:
import requests
import pandas as pd
import numpy as np

url = "http://localhost:8000/predict"

# 1. Load the data
test_df=pd.read_csv(r"/root/AILabProject/data/test.csv")

# 2. Clean the entire DataFrame first (your method is correct)
test_df.replace([np.inf, -np.inf], None, inplace=True)
test_df = test_df.where(pd.notnull(test_df), None)

# 3. Convert the cleaned DataFrame into a list of dictionaries
# This is the key step that correctly handles the 'None' values.
payload_list = test_df.to_dict('records')

predictions = []

# 4. Now, loop through the clean list of payloads
for i, payload in enumerate(payload_list):
    print(i)
    # This payload will now have {'Age': None} for row 10
    print(payload)
    
    try:
        response = requests.post(url, json=payload)
        # Check if the request was successful
        response.raise_for_status() 
        print(response)
        predictions.append(response.json()["predictions"][0])
    
    except requests.exceptions.RequestException as e:
        print(f"Error on row {i}: {e}")
        # If the server gives an error, print the details
        if e.response is not None:
            print(f"Server response: {e.response.text}")
        break # Stop the loop on the first error

0
{'PassengerId': 892, 'Pclass': 3, 'Name': 'Kelly, Mr. James', 'Sex': 'male', 'Age': 34.5, 'SibSp': 0, 'Parch': 0, 'Ticket': '330911', 'Fare': 7.8292, 'Cabin': None, 'Embarked': 'Q'}
<Response [200]>
1
{'PassengerId': 893, 'Pclass': 3, 'Name': 'Wilkes, Mrs. James (Ellen Needs)', 'Sex': 'female', 'Age': 47.0, 'SibSp': 1, 'Parch': 0, 'Ticket': '363272', 'Fare': 7.0, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
2
{'PassengerId': 894, 'Pclass': 2, 'Name': 'Myles, Mr. Thomas Francis', 'Sex': 'male', 'Age': 62.0, 'SibSp': 0, 'Parch': 0, 'Ticket': '240276', 'Fare': 9.6875, 'Cabin': None, 'Embarked': 'Q'}
<Response [200]>
3
{'PassengerId': 895, 'Pclass': 3, 'Name': 'Wirz, Mr. Albert', 'Sex': 'male', 'Age': 27.0, 'SibSp': 0, 'Parch': 0, 'Ticket': '315154', 'Fare': 8.6625, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
4
{'PassengerId': 896, 'Pclass': 3, 'Name': 'Hirvonen, Mrs. Alexander (Helga E Lindqvist)', 'Sex': 'female', 'Age': 22.0, 'SibSp': 1, 'Parch': 1, 'Ticket': '3101298', 'Fare': 12.2875, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
5
{'PassengerId': 897, 'Pclass': 3, 'Name': 'Svensson, Mr. Johan Cervin', 'Sex': 'male', 'Age': 14.0, 'SibSp': 0, 'Parch': 0, 'Ticket': '7538', 'Fare': 9.225, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
6
{'PassengerId': 898, 'Pclass': 3, 'Name': 'Connolly, Miss. Kate', 'Sex': 'female', 'Age': 30.0, 'SibSp': 0, 'Parch': 0, 'Ticket': '330972', 'Fare': 7.6292, 'Cabin': None, 'Embarked': 'Q'}
<Response [200]>
7
{'PassengerId': 899, 'Pclass': 2, 'Name': 'Caldwell, Mr. Albert Francis', 'Sex': 'male', 'Age': 26.0, 'SibSp': 1, 'Parch': 1, 'Ticket': '248738', 'Fare': 29.0, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
8
{'PassengerId': 900, 'Pclass': 3, 'Name': 'Abrahim, Mrs. Joseph (Sophie Halaut Easu)', 'Sex': 'female', 'Age': 18.0, 'SibSp': 0, 'Parch': 0, 'Ticket': '2657', 'Fare': 7.2292, 'Cabin': None, 'Embarked': 'C'}
<Response [200]>
9
{'PassengerId': 901, 'Pclass': 3, 'Name': 'Davies, Mr. John Samuel', 'Sex': 'male', 'Age': 21.0, 'SibSp': 2, 'Parch': 0, 'Ticket': 'A/4 48871', 'Fare': 24.15, 'Cabin': None, 'Embarked': 'S'}
<Response [200]>
10
{'PassengerId': 902, 'Pclass': 3, 'Name': 'Ilieff, Mr. Ylio', 'Sex': 'male', 'Age': nan, 'SibSp': 0, 'Parch': 0, 'Ticket': '349220', 'Fare': 7.8958, 'Cabin': None, 'Embarked': 'S'}
Error on row 10: Out of range float values are not JSON compliant

In [31]:
import requests
import pandas as pd
import numpy as np

url = "http://localhost:8000/predict"

try:
    # 1. Load the data from your CSV
    test_df = pd.read_csv(r"/root/AILabProject/data/test.csv",na_values=None)

    # 2. Clean the entire DataFrame first
    # Replace special float values (inf, -inf) with None
    test_df.replace([np.inf, -np.inf], None, inplace=True)
    # Replace NaN values with None. This is a robust way to handle it.
    test_df = test_df.where(pd.notnull(test_df), None)

    # 3. Convert the cleaned DataFrame into a list of dictionaries
    # This is the key step that correctly handles the 'None' values for 'Age'.
    payload_list = test_df.to_dict('records')

    predictions = []
    print("--- Starting API Requests ---")

    # 4. Now, loop through the clean list of payloads
    for i, payload in enumerate(payload_list):
        # This payload will now correctly have {'Age': None} when age is missing
        response = requests.post(url, json=payload)
        
        # Check if the request was successful
        response.raise_for_status() 
        
        predictions.append(response.json()["predictions"][0])
        print(f"Row {i}: Success (Status Code {response.status_code})")

    print("\n--- All predictions completed successfully! ---")

except requests.exceptions.RequestException as e:
    print(f"\n--- ERROR on row {i} ---")
    print(f"Payload sent: {payload}")
    print(f"Error details: {e}")
    if e.response is not None:
        print(f"Server response ({e.response.status_code}): {e.response.text}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

--- Starting API Requests ---
Row 0: Success (Status Code 200)
Row 1: Success (Status Code 200)
Row 2: Success (Status Code 200)
Row 3: Success (Status Code 200)
Row 4: Success (Status Code 200)
Row 5: Success (Status Code 200)
Row 6: Success (Status Code 200)
Row 7: Success (Status Code 200)
Row 8: Success (Status Code 200)
Row 9: Success (Status Code 200)

--- ERROR on row 10 ---
Payload sent: {'PassengerId': 902, 'Pclass': 3, 'Name': 'Ilieff, Mr. Ylio', 'Sex': 'male', 'Age': nan, 'SibSp': 0, 'Parch': 0, 'Ticket': '349220', 'Fare': 7.8958, 'Cabin': None, 'Embarked': 'S'}
Error details: Out of range float values are not JSON compliant

In [32]:
test_df[4:13]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,None,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,None,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,None,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,None,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,None,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,None,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,None,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,None,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S

In [1]:
import requests
import pandas as pd
import numpy as np
import math # Needed for the robust nan check

url = "http://localhost:8000/predict"

# A helper function to clean a dictionary of non-JSON compliant values
def clean_dict_for_json(d):
    cleaned_dict = {}
    for k, v in d.items():
        # Check if the value is a float and is NaN
        if isinstance(v, float) and math.isnan(v):
            cleaned_dict[k] = None
        # Also check for Pandas' Not a Time for date columns, just in case
        elif v is pd.NaT:
            cleaned_dict[k] = None
        else:
            cleaned_dict[k] = v
    return cleaned_dict

try:
    # 1. Load the data
    test_df = pd.read_csv(r"/root/AILabProject/data/test.csv")

    # 2. Do the initial broad cleaning
    test_df.replace([np.inf, -np.inf], None, inplace=True)
    
    # 3. Convert to a list of dictionaries
    payload_list = test_df.to_dict('records')

    predictions = []
    print("--- Starting API Requests ---")

    # 4. Loop through the payloads
    for i, payload in enumerate(payload_list):
        
        # --- FINAL, BULLETPROOF CLEANING STEP ---
        # Clean each dictionary individually right before sending
        final_payload = clean_dict_for_json(payload)
        
        response = requests.post(url, json=final_payload)
        response.raise_for_status()
        
        predictions.append(response.json()["predictions"][0])
        print(f"Row {i}: Success (Status Code {response.status_code})")

    print("\n--- All predictions completed successfully! ---")

except requests.exceptions.RequestException as e:
    print(f"\n--- ERROR on row {i} ---")
    print(f"Payload that failed: {final_payload}")
    print(f"Error details: {e}")
    if e.response is not None:
        print(f"Server response ({e.response.status_code}): {e.response.text}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

--- Starting API Requests ---
Row 0: Success (Status Code 200)
Row 1: Success (Status Code 200)
Row 2: Success (Status Code 200)
Row 3: Success (Status Code 200)
Row 4: Success (Status Code 200)
Row 5: Success (Status Code 200)
Row 6: Success (Status Code 200)
Row 7: Success (Status Code 200)
Row 8: Success (Status Code 200)
Row 9: Success (Status Code 200)
Row 10: Success (Status Code 200)
Row 11: Success (Status Code 200)
Row 12: Success (Status Code 200)
Row 13: Success (Status Code 200)
Row 14: Success (Status Code 200)
Row 15: Success (Status Code 200)
Row 16: Success (Status Code 200)
Row 17: Success (Status Code 200)
Row 18: Success (Status Code 200)
Row 19: Success (Status Code 200)
Row 20: Success (Status Code 200)
Row 21: Success (Status Code 200)
Row 22: Success (Status Code 200)
Row 23: Success (Status Code 200)
Row 24: Success (Status Code 200)
Row 25: Success (Status Code 200)
Row 26: Success (Status Code 200)
Row 27: Success (Status Code 200)
Row 28: Success (Status Code 200)
Row 29: Success (Status Code 200)
Row 30: Success (Status Code 200)
Row 31: Success (Status Code 200)
Row 32: Success (Status Code 200)
Row 33: Success (Status Code 200)
Row 34: Success (Status Code 200)
Row 35: Success (Status Code 200)
Row 36: Success (Status Code 200)
Row 37: Success (Status Code 200)
Row 38: Success (Status Code 200)
Row 39: Success (Status Code 200)
Row 40: Success (Status Code 200)
Row 41: Success (Status Code 200)
Row 42: Success (Status Code 200)
Row 43: Success (Status Code 200)
Row 44: Success (Status Code 200)
Row 45: Success (Status Code 200)
Row 46: Success (Status Code 200)
Row 47: Success (Status Code 200)
Row 48: Success (Status Code 200)
Row 49: Success (Status Code 200)
Row 50: Success (Status Code 200)
Row 51: Success (Status Code 200)
Row 52: Success (Status Code 200)
Row 53: Success (Status Code 200)
Row 54: Success (Status Code 200)
Row 55: Success (Status Code 200)
Row 56: Success (Status Code 200)
Row 57: Success (Status Code 200)
Row 58: Success (Status Code 200)
Row 59: Success (Status Code 200)
Row 60: Success (Status Code 200)
Row 61: Success (Status Code 200)
Row 62: Success (Status Code 200)
Row 63: Success (Status Code 200)
Row 64: Success (Status Code 200)
Row 65: Success (Status Code 200)
Row 66: Success (Status Code 200)
Row 67: Success (Status Code 200)
Row 68: Success (Status Code 200)
Row 69: Success (Status Code 200)
Row 70: Success (Status Code 200)
Row 71: Success (Status Code 200)
Row 72: Success (Status Code 200)
Row 73: Success (Status Code 200)
Row 74: Success (Status Code 200)
Row 75: Success (Status Code 200)
Row 76: Success (Status Code 200)
Row 77: Success (Status Code 200)
Row 78: Success (Status Code 200)
Row 79: Success (Status Code 200)
Row 80: Success (Status Code 200)
Row 81: Success (Status Code 200)
Row 82: Success (Status Code 200)
Row 83: Success (Status Code 200)
Row 84: Success (Status Code 200)
Row 85: Success (Status Code 200)
Row 86: Success (Status Code 200)
Row 87: Success (Status Code 200)
Row 88: Success (Status Code 200)
Row 89: Success (Status Code 200)
Row 90: Success (Status Code 200)
Row 91: Success (Status Code 200)
Row 92: Success (Status Code 200)
Row 93: Success (Status Code 200)
Row 94: Success (Status Code 200)
Row 95: Success (Status Code 200)
Row 96: Success (Status Code 200)
Row 97: Success (Status Code 200)
Row 98: Success (Status Code 200)
Row 99: Success (Status Code 200)
Row 100: Success (Status Code 200)
Row 101: Success (Status Code 200)
Row 102: Success (Status Code 200)
Row 103: Success (Status Code 200)
Row 104: Success (Status Code 200)
Row 105: Success (Status Code 200)
Row 106: Success (Status Code 200)
Row 107: Success (Status Code 200)
Row 108: Success (Status Code 200)
Row 109: Success (Status Code 200)
Row 110: Success (Status Code 200)
Row 111: Success (Status Code 200)
Row 112: Success (Status Code 200)
Row 113: Success (Status Code 200)
Row 114: Success (Status Code 200)
Row 115: Success (Status Code 200)
Row 116: Success (Status Code 200)
Row 117: Success (Status Code 200)
Row 118: Success (Status Code 200)
Row 119: Success (Status Code 200)
Row 120: Success (Status Code 200)
Row 121: Success (Status Code 200)
Row 122: Success (Status Code 200)
Row 123: Success (Status Code 200)
Row 124: Success (Status Code 200)
Row 125: Success (Status Code 200)
Row 126: Success (Status Code 200)
Row 127: Success (Status Code 200)
Row 128: Success (Status Code 200)
Row 129: Success (Status Code 200)
Row 130: Success (Status Code 200)
Row 131: Success (Status Code 200)
Row 132: Success (Status Code 200)
Row 133: Success (Status Code 200)
Row 134: Success (Status Code 200)
Row 135: Success (Status Code 200)
Row 136: Success (Status Code 200)
Row 137: Success (Status Code 200)
Row 138: Success (Status Code 200)
Row 139: Success (Status Code 200)
Row 140: Success (Status Code 200)
Row 141: Success (Status Code 200)
Row 142: Success (Status Code 200)
Row 143: Success (Status Code 200)
Row 144: Success (Status Code 200)
Row 145: Success (Status Code 200)
Row 146: Success (Status Code 200)
Row 147: Success (Status Code 200)
Row 148: Success (Status Code 200)
Row 149: Success (Status Code 200)
Row 150: Success (Status Code 200)
Row 151: Success (Status Code 200)
Row 152: Success (Status Code 200)
Row 153: Success (Status Code 200)
Row 154: Success (Status Code 200)
Row 155: Success (Status Code 200)
Row 156: Success (Status Code 200)
Row 157: Success (Status Code 200)
Row 158: Success (Status Code 200)
Row 159: Success (Status Code 200)
Row 160: Success (Status Code 200)
Row 161: Success (Status Code 200)
Row 162: Success (Status Code 200)
Row 163: Success (Status Code 200)
Row 164: Success (Status Code 200)
Row 165: Success (Status Code 200)
Row 166: Success (Status Code 200)
Row 167: Success (Status Code 200)
Row 168: Success (Status Code 200)
Row 169: Success (Status Code 200)
Row 170: Success (Status Code 200)
Row 171: Success (Status Code 200)
Row 172: Success (Status Code 200)
Row 173: Success (Status Code 200)
Row 174: Success (Status Code 200)
Row 175: Success (Status Code 200)
Row 176: Success (Status Code 200)
Row 177: Success (Status Code 200)
Row 178: Success (Status Code 200)
Row 179: Success (Status Code 200)
Row 180: Success (Status Code 200)
Row 181: Success (Status Code 200)
Row 182: Success (Status Code 200)
Row 183: Success (Status Code 200)
Row 184: Success (Status Code 200)
Row 185: Success (Status Code 200)
Row 186: Success (Status Code 200)
Row 187: Success (Status Code 200)
Row 188: Success (Status Code 200)
Row 189: Success (Status Code 200)
Row 190: Success (Status Code 200)
Row 191: Success (Status Code 200)
Row 192: Success (Status Code 200)
Row 193: Success (Status Code 200)
Row 194: Success (Status Code 200)
Row 195: Success (Status Code 200)
Row 196: Success (Status Code 200)
Row 197: Success (Status Code 200)
Row 198: Success (Status Code 200)
Row 199: Success (Status Code 200)
Row 200: Success (Status Code 200)
Row 201: Success (Status Code 200)
Row 202: Success (Status Code 200)
Row 203: Success (Status Code 200)
Row 204: Success (Status Code 200)
Row 205: Success (Status Code 200)
Row 206: Success (Status Code 200)
Row 207: Success (Status Code 200)
Row 208: Success (Status Code 200)
Row 209: Success (Status Code 200)
Row 210: Success (Status Code 200)
Row 211: Success (Status Code 200)
Row 212: Success (Status Code 200)
Row 213: Success (Status Code 200)
Row 214: Success (Status Code 200)
Row 215: Success (Status Code 200)
Row 216: Success (Status Code 200)
Row 217: Success (Status Code 200)
Row 218: Success (Status Code 200)
Row 219: Success (Status Code 200)
Row 220: Success (Status Code 200)
Row 221: Success (Status Code 200)
Row 222: Success (Status Code 200)
Row 223: Success (Status Code 200)
Row 224: Success (Status Code 200)
Row 225: Success (Status Code 200)
Row 226: Success (Status Code 200)
Row 227: Success (Status Code 200)
Row 228: Success (Status Code 200)
Row 229: Success (Status Code 200)
Row 230: Success (Status Code 200)
Row 231: Success (Status Code 200)
Row 232: Success (Status Code 200)
Row 233: Success (Status Code 200)
Row 234: Success (Status Code 200)
Row 235: Success (Status Code 200)
Row 236: Success (Status Code 200)

Row 237: Success (Status Code 200)
Row 238: Success (Status Code 200)
Row 239: Success (Status Code 200)
Row 240: Success (Status Code 200)
Row 241: Success (Status Code 200)
Row 242: Success (Status Code 200)
Row 243: Success (Status Code 200)
Row 244: Success (Status Code 200)
Row 245: Success (Status Code 200)
Row 246: Success (Status Code 200)
Row 247: Success (Status Code 200)
Row 248: Success (Status Code 200)
Row 249: Success (Status Code 200)
Row 250: Success (Status Code 200)
Row 251: Success (Status Code 200)
Row 252: Success (Status Code 200)
Row 253: Success (Status Code 200)
Row 254: Success (Status Code 200)
Row 255: Success (Status Code 200)
Row 256: Success (Status Code 200)
Row 257: Success (Status Code 200)
Row 258: Success (Status Code 200)
Row 259: Success (Status Code 200)
Row 260: Success (Status Code 200)
Row 261: Success (Status Code 200)
Row 262: Success (Status Code 200)
Row 263: Success (Status Code 200)
Row 264: Success (Status Code 200)
Row 265: Success (Status Code 200)
Row 266: Success (Status Code 200)
Row 267: Success (Status Code 200)
Row 268: Success (Status Code 200)
Row 269: Success (Status Code 200)
Row 270: Success (Status Code 200)
Row 271: Success (Status Code 200)
Row 272: Success (Status Code 200)
Row 273: Success (Status Code 200)
Row 274: Success (Status Code 200)
Row 275: Success (Status Code 200)
Row 276: Success (Status Code 200)
Row 277: Success (Status Code 200)
Row 278: Success (Status Code 200)
Row 279: Success (Status Code 200)
Row 280: Success (Status Code 200)
Row 281: Success (Status Code 200)
Row 282: Success (Status Code 200)
Row 283: Success (Status Code 200)
Row 284: Success (Status Code 200)
Row 285: Success (Status Code 200)
Row 286: Success (Status Code 200)
Row 287: Success (Status Code 200)
Row 288: Success (Status Code 200)
Row 289: Success (Status Code 200)
Row 290: Success (Status Code 200)
Row 291: Success (Status Code 200)
Row 292: Success (Status Code 200)
Row 293: Success (Status Code 200)
Row 294: Success (Status Code 200)
Row 295: Success (Status Code 200)
Row 296: Success (Status Code 200)
Row 297: Success (Status Code 200)
Row 298: Success (Status Code 200)
Row 299: Success (Status Code 200)
Row 300: Success (Status Code 200)
Row 301: Success (Status Code 200)
Row 302: Success (Status Code 200)
Row 303: Success (Status Code 200)
Row 304: Success (Status Code 200)
Row 305: Success (Status Code 200)
Row 306: Success (Status Code 200)
Row 307: Success (Status Code 200)
Row 308: Success (Status Code 200)
Row 309: Success (Status Code 200)
Row 310: Success (Status Code 200)
Row 311: Success (Status Code 200)
Row 312: Success (Status Code 200)
Row 313: Success (Status Code 200)
Row 314: Success (Status Code 200)
Row 315: Success (Status Code 200)
Row 316: Success (Status Code 200)
Row 317: Success (Status Code 200)
Row 318: Success (Status Code 200)
Row 319: Success (Status Code 200)
Row 320: Success (Status Code 200)
Row 321: Success (Status Code 200)
Row 322: Success (Status Code 200)
Row 323: Success (Status Code 200)
Row 324: Success (Status Code 200)
Row 325: Success (Status Code 200)
Row 326: Success (Status Code 200)
Row 327: Success (Status Code 200)
Row 328: Success (Status Code 200)
Row 329: Success (Status Code 200)
Row 330: Success (Status Code 200)
Row 331: Success (Status Code 200)
Row 332: Success (Status Code 200)
Row 333: Success (Status Code 200)
Row 334: Success (Status Code 200)
Row 335: Success (Status Code 200)
Row 336: Success (Status Code 200)
Row 337: Success (Status Code 200)
Row 338: Success (Status Code 200)
Row 339: Success (Status Code 200)
Row 340: Success (Status Code 200)
Row 341: Success (Status Code 200)
Row 342: Success (Status Code 200)
Row 343: Success (Status Code 200)
Row 344: Success (Status Code 200)
Row 345: Success (Status Code 200)
Row 346: Success (Status Code 200)
Row 347: Success (Status Code 200)
Row 348: Success (Status Code 200)
Row 349: Success (Status Code 200)
Row 350: Success (Status Code 200)
Row 351: Success (Status Code 200)
Row 352: Success (Status Code 200)
Row 353: Success (Status Code 200)
Row 354: Success (Status Code 200)
Row 355: Success (Status Code 200)
Row 356: Success (Status Code 200)
Row 357: Success (Status Code 200)
Row 358: Success (Status Code 200)
Row 359: Success (Status Code 200)
Row 360: Success (Status Code 200)
Row 361: Success (Status Code 200)
Row 362: Success (Status Code 200)
Row 363: Success (Status Code 200)
Row 364: Success (Status Code 200)
Row 365: Success (Status Code 200)
Row 366: Success (Status Code 200)
Row 367: Success (Status Code 200)
Row 368: Success (Status Code 200)
Row 369: Success (Status Code 200)
Row 370: Success (Status Code 200)
Row 371: Success (Status Code 200)
Row 372: Success (Status Code 200)
Row 373: Success (Status Code 200)
Row 374: Success (Status Code 200)
Row 375: Success (Status Code 200)
Row 376: Success (Status Code 200)
Row 377: Success (Status Code 200)
Row 378: Success (Status Code 200)
Row 379: Success (Status Code 200)
Row 380: Success (Status Code 200)
Row 381: Success (Status Code 200)
Row 382: Success (Status Code 200)
Row 383: Success (Status Code 200)
Row 384: Success (Status Code 200)
Row 385: Success (Status Code 200)
Row 386: Success (Status Code 200)
Row 387: Success (Status Code 200)
Row 388: Success (Status Code 200)
Row 389: Success (Status Code 200)
Row 390: Success (Status Code 200)
Row 391: Success (Status Code 200)
Row 392: Success (Status Code 200)
Row 393: Success (Status Code 200)
Row 394: Success (Status Code 200)
Row 395: Success (Status Code 200)
Row 396: Success (Status Code 200)
Row 397: Success (Status Code 200)
Row 398: Success (Status Code 200)
Row 399: Success (Status Code 200)
Row 400: Success (Status Code 200)
Row 401: Success (Status Code 200)
Row 402: Success (Status Code 200)
Row 403: Success (Status Code 200)
Row 404: Success (Status Code 200)
Row 405: Success (Status Code 200)
Row 406: Success (Status Code 200)
Row 407: Success (Status Code 200)
Row 408: Success (Status Code 200)
Row 409: Success (Status Code 200)
Row 410: Success (Status Code 200)
Row 411: Success (Status Code 200)
Row 412: Success (Status Code 200)
Row 413: Success (Status Code 200)
Row 414: Success (Status Code 200)
Row 415: Success (Status Code 200)
Row 416: Success (Status Code 200)
Row 417: Success (Status Code 200)

--- All predictions completed successfully! ---

In [33]:
test_df = pd.read_csv(r"/root/AILabProject/data/test.csv",na_values=None)

In [37]:
test_df.where(pd.notnull(test_df), None)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,None,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,None,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,None,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,None,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,None,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,None,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,None,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,None,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,None,C

In [46]:
spark = SparkSession.builder.appName("TitanicClassifierAPI").getOrCreate()
df=spark.read.csv(r"/root/AILabProject/data/test.csv",header=True,inferSchema=True)

In [47]:
df.show()

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0|          330911| 7.8292| null|       Q|
|        893|     3|Wilkes, Mrs. Jame...|female|47.0|    1|    0|          363272|    7.0| null|       S|
|        894|     2|Myles, Mr. Thomas...|  male|62.0|    0|    0|          240276| 9.6875| null|       Q|
|        895|     3|    Wirz, Mr. Albert|  male|27.0|    0|    0|          315154| 8.6625| null|       S|
|        896|     3|Hirvonen, Mrs. Al...|female|22.0|    1|    1|         3101298|12.2875| null|       S|
|        897|     3|Svensson, Mr. Joh...|  male|14.0|    0|    0|            7538|  9.225| null|       S|
|        898|     3|Connolly, Miss. Kate|female|30.0|    0|    0|          330972| 7.6292| null|       Q|
|        899|     2|Caldwell, Mr. Alb...|  male|26.0|    1|    1|          248738|   29.0| null|       S|
|        900|     3|Abrahim, Mrs. Jos...|female|18.0|    0|    0|            2657| 7.2292| null|       C|
|        901|     3|Davies, Mr. John ...|  male|21.0|    2|    0|       A/4 48871|  24.15| null|       S|
|        902|     3|    Ilieff, Mr. Ylio|  male|null|    0|    0|          349220| 7.8958| null|       S|
|        903|     1|Jones, Mr. Charle...|  male|46.0|    0|    0|             694|   26.0| null|       S|
|        904|     1|Snyder, Mrs. John...|female|23.0|    1|    0|           21228|82.2667|  B45|       S|
|        905|     2|Howard, Mr. Benjamin|  male|63.0|    1|    0|           24065|   26.0| null|       S|
|        906|     1|Chaffee, Mrs. Her...|female|47.0|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|
|        907|     2|del Carlo, Mrs. S...|female|24.0|    1|    0|   SC/PARIS 2167|27.7208| null|       C|
|        908|     2|   Keane, Mr. Daniel|  male|35.0|    0|    0|          233734|  12.35| null|       Q|
|        909|     3|   Assaf, Mr. Gerios|  male|21.0|    0|    0|            2692|  7.225| null|       C|
|        910|     3|Ilmakangas, Miss....|female|27.0|    1|    0|STON/O2. 3101270|  7.925| null|       S|
|        911|     3|"Assaf Khalil, Mr...|female|45.0|    0|    0|            2696|  7.225| null|       C|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [58]:
spark.createDataFrame(pd.DataFrame(payload_list))

AttributeError: 'DataFrame' object has no attribute 'iteritems'